@inherits LayoutComponentBase
@using RazorReaper.Components.Shared

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RazorReaper</title>
    <link href="~/css/theme.css" rel="stylesheet" />
</head>
<body>
    <NotificationContainer />
    @Body
</body>
</html>