name: Discord Notifications

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, closed, reopened]
  release:
    types: [published]
  issues:
    types: [opened]
  issue_comment:
    types: [created]
  workflow_run:
    workflows: ["*"]
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Discord notification
        uses: tsickert/discord-webhook@v5
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            **${{ github.event_name }}** in `${{ github.repository }}`
            ${{ github.event.head_commit.message }}
            by **${{ github.actor }}**
            See changes: https://github.com/${{ github.repository }}/commit/${{ github.sha }}
        if: github.event_name == 'push'

      - name: Discord notification on PR
        uses: tsickert/discord-webhook@v5
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            **Pull Request ${{ github.event.action }}** in `${{ github.repository }}`
            [#${{ github.event.pull_request.number }} ${{ github.event.pull_request.title }}](${{ github.event.pull_request.html_url }})
            by **${{ github.actor }}**
        if: github.event_name == 'pull_request'

      - name: Discord notification on Release
        uses: tsickert/discord-webhook@v5
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            **New Release ${{ github.event.release.tag_name }}** in `${{ github.repository }}`
            [${{ github.event.release.name }}](${{ github.event.release.html_url }})
            by **${{ github.actor }}**
        if: github.event_name == 'release'

      - name: Discord notification on Issue
        uses: tsickert/discord-webhook@v5
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            **Issue ${{ github.event.action }}** in `${{ github.repository }}`
            [#${{ github.event.issue.number }} ${{ github.event.issue.title }}](${{ github.event.issue.html_url }})
            by **${{ github.actor }}**
        if: github.event_name == 'issues'

      - name: Discord notification on Issue Comment
        uses: tsickert/discord-webhook@v5
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            **New Comment on Issue #${{ github.event.issue.number }}** in `${{ github.repository }}`
            [${{ github.event.comment.html_url }}](${{ github.event.comment.html_url }})
            by **${{ github.actor }}**
            ${{ github.event.comment.body }}
        if: github.event_name == 'issue_comment'

      - name: Discord notification on Workflow Run
        uses: tsickert/discord-webhook@v5
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          content: |
            **Workflow Run ${{ github.event.workflow_run.conclusion }}** in `${{ github.repository }}`
            [${{ github.event.workflow_run.name }}](${{ github.event.workflow_run.html_url }})
            by **${{ github.actor }}**
        if: github.event_name == 'workflow_run'
